@use '../foundation' as *;

.mv {
    position: relative;
    z-index: 1;
    height: 100vh;
    min-height: prem(400);
    @include mq("md"){
        height: 72vh;
    }
}

.mv__inner {
    height: inherit;
    min-height: inherit;
}

.mv__title-wrap {
    position: absolute;
    z-index: 2;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 100%;
    color: #fff;
    text-align: center;
}

.mv__title-items{
    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-columns: 1fr 120px 60px 1fr;
    grid-template-rows: repeat(3, 1fr);
    column-gap: 24px;
    row-gap: 32px;
}

.mv__title-item:nth-of-type(1){
    grid-column: 2/3;
}
.mv__title-item:nth-of-type(2){
    grid-column: 3/4;
}
.mv__title-item:nth-of-type(3) {
    grid-column: 3/4;
    grid-row: 2/3;
}
.mv__title-item:nth-of-type(4) {
    grid-column: 2/3;
    grid-row: 2/3;
}
.mv__title-item:nth-of-type(5) {
    grid-column: 2/3;
    grid-row: 3/4;
}

.mv__title-item:nth-of-type(2){
    align-self: end;
}
.mv__title-item:nth-of-type(3){
    align-self:self-start;
}

.mv__title-item:nth-of-type(2) .mv__title-img,
.mv__title-item:nth-of-type(3) .mv__title-img{
    width: 60px;
    height: 60px;
}

.mv__title-item:nth-of-type(1) .mv__title-img,
.mv__title-item:nth-of-type(4) .mv__title-img,
.mv__title-item:nth-of-type(5) .mv__title-img{
    width: 125px;
    height: 125px;
}

// .mv__main-title {
//     font-size: prem(60);
//     @include mq(md){
//         font-size: prem(40);
//     }
// }

// .mv__sub-title {
//     margin-top: prem(20);
//     font-size: prem(35);
//     @include mq(md){
//         font-size: prem(20);
//     }
// }

.mv__img,
.mv__img-wrap,
.mv__img img {
    height: inherit;
    min-height: inherit;
}

.mv__img img {
    width: 100%;
    object-fit: cover;
}